
{% extends 'service_provider/base.html' %}
{% block title%} AsaanShadi - Best Shadi Website{% endblock %}
{% block css %}
{% endblock %}
{% block body %}
{% load static %}

<div class="container">
    <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
<form method="POST" enctype="multipart/form-data" class="form-group">

    {% csrf_token %}
    <div class="col">
        <div class="col-lg-6">
            <label for="User_ID" > <b> User Id: </b></label>
    <input id="User_ID" type="text" name="{{ form.user_id.html_name }}" value="{{request.user.id}}">

{% if form.user_id.errors %}

<ol>

{% for error in form.user_id.errors %}

<li><strong>{{ error|escape }}</strong></li>

{% endfor %}

</ol>

{% endif %}
</div>


<div class="col-lg-6">
    <label for="company_name"> <b> Company Name: </b></label>

<input id="company_name" type="text" name="{{ form.company_name.html_name }}" value="">

{% if form.company_name.errors %}

<ol>

{% for error in form.company_name.errors %}

<li><strong>{{ error|escape }}</strong></li>

{% endfor %}

</ol>

{% endif %}
</div>
        <div class="col-lg-6">
<label for="Location"> <b>Location: </b></label>

<input id="location" type="text" name="{{ form.location.html_name }}">

{% if form.location.errors %}

<ol>

{% for error in form.location.errors %}

<li><strong>{{ error|escape }}</strong></li>

{% endfor %}

</ol>

{% endif %}
        </div>
        <div class="col-lg-6">
    <label for="contact_no"><b> Contact Number: </b></label>

<input id="contact_no" type="text" name="{{ form.contact_no.html_name }}">



{% if form.contact_no.errors %}

<ol>

{% for error in form.contact_no.errors %}

<li><strong>{{ error|escape }}</strong></li>

{% endfor %}

</ol>

{% endif %}

        </div>
        <div class="col-lg-6">
    <label for="desc"><b> Desc: </b> </label>

<textarea id="desc" name="{{ form.desc.html_name }}"></textarea>


{% if form.desc.errors %}

<ol>

{% for error in form.desc.errors %}

<li><strong>{{ error|escape }}</strong></li>

{% endfor %}

</ol>

{% endif %}
        </div>
        <div class="col-lg-6">

<label for="package"> <b> Package: </b></label>
    <a href="add_Package" class="btn btn-primary" >Add New Package</a>

<select  class="form-control mb-4" name="{{ form.package.html_name }}">

<option selected disabled>Select Category</option>

{% for cat in form.package %}

{{ cat }}

{% endfor %}

</select>

{% if form.package.errors %}

<ol>

{% for error in form.package.errors %}

<li><strong>{{ error|escape }}</strong></li>

{% endfor %}

</ol>

{% endif %}

        </div>
        <div class="col-lg-6">

<label for="category"> <b>Category: </b></label>
    <a href="add_Category" class="btn btn-primary" >Add New Category</a>

<select  class="form-control mb-4" name="{{ form.category.html_name }}">

<option selected disabled>Select Category</option>

{% for cat in form.category %}

{{ cat }}

{% endfor %}

</select>


{% if form.category.errors %}

<ol>

{% for error in form.category.errors %}

<li><strong>{{ error|escape }}</strong></li>

{% endfor %}

</ol>

{% endif %}
        </div>
        <div class="col-lg-6">

    <label for="Image"><b> Please Choose your Image: </b></label>

<input  id="Image" type="file" accept="image/*" name="{{ form.image.html_name }} "  >



{% if form.image.errors %}

<ol>

{% for error in form.image.errors %}

<li><strong>{{ error|escape }}</strong></li>

{% endfor %}

</ol>

{% endif %}

        </div> <br>


<!--    &lt;!&ndash; Using the formset &ndash;&gt;-->
<!--    {{ form.as_p }}-->

    <input type="submit" value="Submit" class="btn btn-primary btn btn-block">
        </div>
</form>
</div>
    <div class="col-lg-3"></div>
</div>
    </div>

{% endblock %}