{% extends 'service_provider/base.html' %}
{% block title%} AsaanShadi - Best Shadi Website{% endblock %}
{% block css %}
{% endblock %}
{% block body %}
{% load static %}

<h1>  I'm Transport page</h1>
<button  type="button" class="btn btn-primary" onclick="location.href='{% url 'ServiceAdd' %}'">Add</button>
<button type="button" class="btn btn-danger">Delete</button>
<button type="button" class="btn btn-warning">Update</button>

<div class="main">
{% for data in dataset %}.

    {{ data.company_name }}<br/>
    <img src= "/media/{{ data.image }}" > <br/>
    <hr/>

    {% endfor %}

</div>
{% endblock %}